*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------------------------------------------
clase bases titulos y footer, etc */
.titulo{
    margin: 3rem;
    margin-right: 140vh;
}
.subtitulo{
    text-align: center;
    margin-bottom: 20px;
}
.texto{
    text-align: center;

}
.creditos{
    text-align: center;
    margin:2rem;
}
.ejercicios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    border: solid 1px black;
    padding: 3rem;

}
.botones{
    width: max-content;
    height: max-content;
    padding: 5px;
    background-color: rgb(85, 154, 185);
    color: white;
    border: solid rgb(85, 154, 185);
    border-radius: 15px;
}
.botones:hover{
    background-color: rgb(4, 86, 124);
    border: solid rgb(4, 86, 124);
    cursor: pointer;
    
}
.contenedorBotones{
    display: flex;
}
/*----------------------------------------------------------------*/
.contenedor-border{
    border: solid rgb(122, 125, 129) 1px;
    background-color: rgb(209, 214, 221) ;
    padding: 50px;
    border-radius: 50px;
}
.subcontenedorEje5{
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
}
.contenedorImgPrincipalEje5{
    border-radius: 15px;
    overflow: hidden;
}
.contenedorIndividualEje5{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    overflow: hidden;
    justify-content: center;
    height: 100px;
    border: solid rgb(122, 125, 129) 1px;
}
.contenedorIndividualEje5:hover{
    cursor: pointer;
}
